img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;

}

.GameTitleDetails{
    font-size: 3rem;
    padding-top: 3%;
    text-align: center;
}

.GameDescriptionDetails{
    font-size: 1.5rem;
    padding-top: 3%;
    text-align: center;
}

.imgFond{
    width: 100%;
    object-fit: cover;
    text-align: center;
}

.btnInscription{
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5%;
    background-color: #1E90FF;
    color: white;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.GameDeveloperDetails{
    font-size: 1.5rem;
    padding-top: 3%;
    text-align: center;
}

.GameEditorDetails{
    font-size: 1.5rem;
    padding-top: 3%;
    text-align: center;
}