.Inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Inscription form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .Inscription h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Inscription input[type="text"],
  .Inscription input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .Inscription input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .Inscription button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
  }
  
  .Inscription button:hover {
    background-color: #0056b3;
  }

  .Inscription button:disabled {
    background-color: rgb(221, 69, 69);
  }

  .Inscription span {
    color: red;
  }
